{% load static %}
<html>
    <head>
        <title>Kurushadai Theevu</title>
    </head>

    <body bgcolor="blue">
        <img src="{% static 'islandimg.jpeg'%}" width="100%" height="50%"> 
        <center>
        <h1>Kurushadai Theevu</h1> </center>
        <h4>Kurushadai Theevu is a small uninhabited island near Mandapam in Ramanathapuram district, Tamil Nadu. It lies in the Gulf of Mannar and is famous for its rich seagrass beds, which serve as breeding grounds for pearls, prawns, crabs, and many fish species. Because of this unique ecosystem, the island is often called the “Biological Paradise of the Gulf of Mannar.” It is part of the Gulf of Mannar Marine National Park and is protected to conserve its rare marine biodiversity</h4>
        

 
    </body>
</html>