{% load static %}
<html>
    <head>
        <title>Pamban Bridge</title>
    </head>
    <body bgcolor="orange">
        <img src="{% static 'pambanimg.jpeg'%}" width="100%" height="50%">
        <center>
        <h1>Pamban Bridge</h1>
        </center>
        <h4>The Pamban Bridge, located in Tamil Nadu, India, is a historic railway bridge that connects the town of Mandapam on the mainland with Rameswaram Island. Opened in 1914, it was India’s first sea bridge and remained the longest until the Bandra-Worli Sea Link was completed in 2010. Stretching about 2.3 kilometers over the Palk Strait, the bridge is an engineering marvel, especially known for its double-leaf bascule section that can be raised to allow ships to pass through. Its strategic location and unique design make it both a lifeline for transport and a tourist attraction, offering breathtaking views of the sea. Today, alongside the old railway bridge, a new road bridge also facilitates easier connectivity, but the century-old Pamban Bridge continues to stand as a symbol of resilience and innovation.</h4>
        
    </body>
</html>