{% load static %}
<html>
    <head>
        <title>Holy Island Water Sports</title>
    </head>
    <body bgcolor="orangr">
        <img src="{% static 'waterimg.jpg'%}" width="100%" height="50%">

        <center>
        <h1>Holy Island Water Sports</h1>
         </center>
        <h4>Holy Island Water Sports is an adventure-water sports facility located at Holy Island Beach, Sangumall, Olaikadda Road, Rameswaram in Ramanathapuram district. Established in late 2014, it offers a wide range of both water-based and shoreline activities for tourists and locals alike.

 Visitors can enjoy thrilling rides such as jet ski, banana ride, bumper ride; water sports like kayaking, windsurfing, stand up paddle board; plus underwater exploration through snorkeling and scuba diving.

Rameswaram Tourism

 For those less inclined to get wet, there are also glass bottom boat rides and land games like trampoline and mini-wheel.

 The facility runs daily from about 10:00 AM to 6-7 PM, and safety measures such as life jackets and trained guides are provided.</h4>
       
    </body>
</html>